<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <title>Form</title>
</head>
<body>

<div th:replace="shared/navbar"></div>

    <h1>Dodaj Mema</h1>
<div class="container">
    <form class="form-horizontal" th:action="@{/mem/add}" enctype="multipart/form-data" method="post" th:object="${mem}">
        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" th:field="*{id}" />
                <div class="input-group">
                    <label for="title">Tytuł:</label>
                    <input class="form-control" type="text" id="title" name="title" th:field="*{title}" />
                </div>

                <div class="input-group">
                    <label for="description">Opis:</label>
                    <input class="form-control" type="memo" id="description" name="description" th:field="*{description}" /><br />
                </div>

                <div class="input-group">
                    <label for="file">Plik:</label>
                    <input class="form-control" type="file" name="file" id="file" /><br />
                </div>

            </div>
        </div>

        <div class="input-group">
            <button class="btn btn-primary" type="submit">Dodaj</button>
        </div>
    </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>